#Out-of-source build
/build-*

#In-source build - generated
lib/parser/lexer.cpp
lib/parser/parser.cpp
lib/parser/parser.hpp
tools/sandbox/*.bc
tools/sandbox/*.o
tools/sandbox/sandbox

#In-source build - cmake
/bin
/CMakeCache.txt
CMakeFiles
cmake_install.cmake

#In-source build - ninja
/.ninja*
build.ninja
rules.ninja

#In-source build - make
Makefile

#Eclipse
/.project
/.cproject
/.settings/